{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Please Login!</h1>
    <form id="login-form" method="post" novalidate>
        {% csrf_token %}
        {{form}}
        <button id="login-button"type="submit" class="btn waves-effect waves-light">Login</button>
    </form>
        <h3>If you don't have an account please sign up!</h3>
        <a href="{% url 'milk:signup' %}" style="margin:auto; display: block; max-width: 10%;" class="btn waves-effect"> Sign Up</a>
</div>


{% endblock %}