{% extends 'base.html' %}

{% block content %}
<a href = "{% url 'logout' %}" class="btn waves-effect">Logout</a>
<div class="container">
    <h1 style="text-align: center;"> Hello {{ user.username}}!</h1>
    <h2 style="text-align: center;">Here is some milk and cookies!</h2>
    <img class="responsive-img card-image" style="margin:auto; display: block;"src="https://images.unsplash.com/photo-1569545123956-d9ae04a5b395?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=333&q=80" alt="">
</div>

{% endblock %}