{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1 style="text-align: center;"> Welcome to this website!</h1>
    <h3 style="text-align: center;">If you want some cookies, please log in. If you don't have an account, you are welcomed to signup with us!</h3>
    <a id="signup-button" href="{% url 'milk:signup' %}" style="margin:auto; display: block; max-width: 15%; font-size: 18pt;" class="btn waves-effect"> Sign Up</a>
    <a id="login-button" href="{% url 'login' %}" style="margin:auto; margin-top:10px; display: block; max-width: 15%; font-size: 18pt;" class="btn waves-orange">Login</a>
    <img src="https://media.giphy.com/media/Cmr1OMJ2FN0B2/giphy.gif" style="margin:auto; margin-top:10px; display: block;" alt="">
</div>
{% endblock %}