{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Sign Up</h1>
    <form class="site-form" method="post">
    {% csrf_token %}
    {{form}}
    <button id="signup-button" type = "submit" class = "btn waves-effect waves-light">Sign Up</button>
    </form>
</div>

{% endblock %}